.table{
    position: relative;
    border-top: 1px solid $gray3;
    padding: 16px;
    background: $white;
    &.--invisible{
        display: none;
    }
}

.tableBox__top{
    position: relative;
    padding: 0px 8px 8px;
    @include flex;
    @include justify-content(space-between);
}
.tableBox__tableName{
    font-weight: 500;
    color: $gray4;
    margin: 10px 0;
}
.tableBox__close{
    position: absolute;
    top:15px;
    right: 15px;
    width:15px;
    height:15px;
    cursor: pointer;
    &:hover{
        &:after,
        &:before{
            @include transform(rotate(0deg));
        }
    }
    &:after{
        position: absolute;
        content: '';
        top: 5px;
        left: 0;
        width: 15px;
        height: 2px;
        border-radius: 1px;
        background: $gray8;
        @include transform(rotate(45deg));
        @include transition(all ease-in-out 0.2s);
    }
    &:before{
        position: absolute;
        content: '';
        top: 5px;
        left: 0;
        width: 15px;
        height: 2px;
        border-radius: 1px;
        background: $gray8;
        @include transform(rotate(-45deg));
        @include transition(all ease-in-out 0.2s);
    }
}

.tabulator{
    position: relative;
    border-radius: 6px;
    border: 1px solid $gray2;
    font-size: 0.9em;

}
.tabulator-header{
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding: 5px 0px 0px;
    overflow: hidden;
    cursor: pointer;
    font-weight: 700;
    background-color: $gray1;
    .tabulator-col{
        padding: 4px 0px;
        display: inline-block;
        text-align: center;
    }
}
// .tabulator-col{
//     @include calc(max-width,'30% - 100px');

// }
.tabulator-sortable{
    @include calc(max-width,'380px');
}

.tabulator-col-title{
    color: $gray11;
    text-decoration: none;
    // width: 150px;
}

.tabulator-col-sorter{
    color: $gray6;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 4px;
    .tabulator-arrow{
        width: 0;
        height: 0;
        border-left: 6px solid transparent;

    }
}

.tabulator-tableHolder{
    position: relative;
    width: 100%;
    overflow: hidden;
}
.tabulator-table{
    position: relative;
    display: inline-block;
    background-color: $white;
    white-space: nowrap;
    overflow: visible;
    color: $gray6;
}
.tabulator-row{
    position: relative;
    box-sizing: border-box;
    max-height: 34px;
    background-color: $white;
     .tabulator-cell{
        display: inline-block;
        padding: 8px;
        border: 1px solid $gray12;
        margin: 0;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

.tabulator-footer{
    padding: 5px 10px;
    background-color: $white;
    text-align: right;
    color: $gray12;
}


.tabulator-page{
    margin: 0 2px;
    padding: 2px 5px;
    cursor: pointer;
    color: $fifthColor;
    border: none;
    background-color: $white;
    @include transition(all ease-in-out 0.2s);
}

.tabulator-page:disabled{
    opacity: 0.5;
}

.tabulator-page.active{
    font-weight: 700;
    background: $fifthColor;
    color: $gray1;
    padding: 5px 6px 5px 6px;
    border-radius: 4px;
}


// Inicio Estilos NavBar - DarkMode

html[data-theme="dark"]{
    .table{
        background:  $blackboard
    }
    .tableBox__tableName{
        color: $gray12;
    }
    .tabulator-header{
        background-color: $blackboard4;
    }
    .tabulator-col-title{
        color: $gray12;
    }
    .tabulator-table{
        background:  $blackboard
    }
    .tabulator-row{
        background-color: $blackboard;
        color: $gray12;
         .tabulator-cell{
            border: 1px solid $gray12;
        }
    }
    .tabulator-footer{
        background-color: $blackboard;
        color: $gray12;
    }
    .tabulator-page{
        color: $gray1;
        background-color: $blackboard;
    }
    .tabulator-page.active{
        font-weight: 700;
        background: $principalColor;
        color: $gray1;
        padding: 5px 6px 5px 6px;
        border-radius: 4px;
    }
}